.main {
  // width: 1200px;
  margin: 40px auto;
  text-align: center;

  h1 {
    padding: 20px;
  }

  @media screen and (min-width: 375px) {
    width: 375px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    text-align: start;
  }

  @media screen and (min-width: 1440px) {
    width: 1200px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media screen and (min-width: 375px) {
    width: 200px;
  }

  @media screen and (min-width: 768px) {
    width: 250px;
  }
}

.upload {
  div,
  button {
    width: 100%;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  background: #fff;
  border-radius: 15px;
}

.menu {
  margin-top: 20px;
  padding-right: 10px;
  height: 100%;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}
